/* .fix {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
} */
/* .div { */
  /*left: ;
  right: ;
  top: ;
  bottom: ; */
/* 

  position: relative;
  width: 100px;
  height: 100px;
  background-color: aqua;
} */
.dov3{
    width: 375px;
    height: 375px;
    border: 5px solid red;
    overflow: scroll;
    /* overflow: hidden; */
    /* overflow: auto; */
    /* overflow: visible; */
}
